# Visual Studio generated .editorconfig file with C++ settings.
root = true

[*.{c++,cc,cl,cpp,cppm,cu,cuh,cxx,fx,fxh,glsl,h,h++,hh,hlsl,hpp,hxx,inl,ipp,ixx,shdbg,tlh,tli}]

# Visual C++ Code Style settings

cpp_generate_documentation_comments = xml

# Visual C++ Formatting settings

# Visual C++ Inlcude Cleanup settings

cpp_include_cleanup_add_missing_error_tag_type = suggestion
cpp_include_cleanup_remove_unused_error_tag_type = dimmed
cpp_include_cleanup_optimize_unused_error_tag_type = suggestion
cpp_include_cleanup_sort_after_edits = false
cpp_sort_includes_error_tag_type = none
cpp_sort_includes_priority_case_sensitive = false
cpp_sort_includes_priority_style = quoted
cpp_includes_style = default
cpp_includes_use_forward_slash = true

# ReSharper C++ settings
resharper_cpp_inconsistent_naming_highlighting = none
resharper_cpp_function_result_should_be_used_highlighting = none
resharper_cpp_parameter_may_be_const_highlighting = none
resharper_cpp_class_can_be_final_highlighting = none
resharper_cpp_polymorphic_class_with_non_virtual_public_destructor_highlighting = none
resharper_cpp_clang_tidy_clang_diagnostic_non_virtual_dtor_highlighting = none
resharper_cpp_clang_tidy_clang_diagnostic_header_hygiene_highlighting = none
resharper_cpp_clang_tidy_clang_diagnostic_inconsistent_dllimport_highlighting = none
resharper_cpp_default_case_not_handled_in_switch_statement_highlighting = none
resharper_cpp_clang_tidy_hicpp_multiway_paths_covered_highlighting = none
resharper_cpp_zero_constant_can_be_replaced_with_nullptr_highlighting = none
resharper_cpp_clang_tidy_clang_diagnostic_cast_qual_highlighting = none
resharper_cpp_clang_tidy_clang_diagnostic_cast_align_highlighting = none
resharper_cpp_clang_tidy_clang_diagnostic_microsoft_cast_highlighting = none
resharper_cpp_clang_tidy_clang_diagnostic_undefined_reinterpret_cast_highlighting = none
resharper_cpp_clang_tidy_clang_diagnostic_shadow_highlighting = none
resharper_cpp_clang_tidy_clang_diagnostic_cast_function_type_strict_highlighting = none
resharper_cpp_functional_style_cast_highlighting = none
resharper_cpp_non_inline_variable_definition_in_header_file_highlighting = none
resharper_cpp_enforce_overriding_function_style_highlighting = none;